body{
    width: 100%;
    margin: 0;
    background-color: #FFF8DE;
}

a{
    text-decoration: none;
    color: #000;
}

.sp-only{
    display: none;
}

@media screen and (max-width: 767px){
    .sp-only{
        display: block;
    }
}

.pc-only{
    display: inline;
}

@media screen and (max-width: 767px){
    .pc-only{
        display: none;
    }
}

.appBody{
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 767px){
    .body{
        width: 90%;
    }
}