header {
  display: flex;
  width: 90%;
  height: 100px;
  background-color: darkgrey;
  align-items: center;
  margin: auto;
}

.title {
  padding-left: 5%;
  margin-right: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin-right: 15%;
}

.LogoutBtn {
  padding-left: 20px;
}
